@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
h4{
    font-family: 'Gloock', serif; 
}
body{
    background-image: linear-gradient(to left top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5f2ff, #eee4fd, #e9d5fa, #e5b2ed, #e78bd6a3, #eb5db5a5, #ec008e77);
    background-repeat: no-repeat;
}
.btn-funky-moon {
    background: #ec008c; 
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c); 
    background: linear-gradient(to right, #fc6767, #ec008c); 
    color: #fff;
    border-radius: 16px;
}
.btn-purple-moon {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  
    background: linear-gradient(to right, #8f94fb, #4e54c8); 
    color: #fff;
    border-radius: 16px;
}
.navbar-list a{
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.hero-img{
    height: 300px;
    width: 300px;
}
.pink-header{
    background: #ec008c; 
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c); 
    background: linear-gradient(to right, #fc6767, #ec008c); 
    border-radius: 16px;
    padding: 10px;
    color: white;
    width: fit-content;
    text-decoration: none;
}
.blue-header{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  
    background: linear-gradient(to right, #8f94fb, #4e54c8); 
    color: #fff;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}
.content{
    text-align: justify;
    margin: 10px 0;
}

.icon{
    color: #ec008c;  
}
.video-img{
    height: 200px;
}
.link-card img{
    height: 200px;
    width: 200px;
}
.link-card a{
    text-decoration: none;
}
.why-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.tabs-container button{
    color: #4e54c8;
    font-weight: 700;
}
.ae-card{
    height: 200px;
}
.ae-card img{
    height: 150px;
}
.book-now{
    background: #ec008c;
    color: white;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 16px;
}
.book-now:hover{
    background: white;
    color: #ec008c;
    border: 1px solid #ec008c;
}
.explore-now{
    background: #4e54c8;
    color: white;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 16px;
}
.explore-now:hover{
    background: white;
    color: #4e54c8;
    border: 1px solid #4e54c8;
}
.title{
    color: #ec008c;
}
.blue-title{
    color: #4e54c8;
}
.hero{
    background: url(../../public/abus.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
}
.hero-mask{
    background-color: #000;
    opacity: 0.8;
}
.client-box{
    height: 150px;
    width: 200px;
}
footer img{
    height: 100px;
    width: 100px;
}
.social-icon{
    color: #4e54c8;
    font-size: 24px;
    cursor: pointer;
}
.list{
    list-style: decimal;
}